.form-field {
    display: flex;
    flex-direction: column; 
    position: relative; 
    label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    input {
        padding: 0.7rem;
        padding-inline-start: 1rem;
        border: 1px solid whitesmoke;
        outline: none;
        border-radius: 10px;
        font-size: 1rem; 
    
        &:focus {
            border-color: #007bff;
            outline: none;
        }
    
        &.invalid {
            border-color: #dc3545;
        }

        &.iconSubmit{ 
            padding-inline-start: 3.5rem;
        }
    }

    button{
        position: absolute;
        top: 8px;
        left: 2px;
        outline: none;
        background-color: white;
        border: none;
        border-radius: 50%;
        img{ 
            border-radius: 50%; 
            width: 25px;
            height: 25px;     
            color: black;
        } 
    }

    .error-message {
        color: #dc3545;
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }
}
