
<div class="header"> 
    <app-button type="button" shape="circle" color="default">
        <img src="assets/images/logo.png" class="logo" alt="logo" />
    </app-button> 
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="header__search">
        <app-form-field 
            [formGroup]="form" 
            controlName="search"
            placeholder="Seach anything"  
            [isSubmit]="true"
            icon="assets/icons/search.svg"
        > 
        </app-form-field>  
    </form> 
    <div class="header__account">  
        <app-button shape="circle" color="default">
            <img src="assets/icons/notifications.svg" class="logo" alt="logo" />
        </app-button>
        <app-avatar imageUrl="assets/images/user.png" > </app-avatar>
</div>