.header{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

    .logo{ 
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .header__search{
        width: 80%; 
        background-color: #ffffff;
        border-radius: 12px; 
        position: relative;
    }

    .header__account{
        display: flex;
        gap: 8px;
        align-items: end;
        justify-content: end;
        
        &.notification{
            background-color: red;
        }
    }
}