.box{ 
    display: grid;
    width: fit-content;
    max-height: fit-content;
    padding: 14px 20px; 
    border-radius: 10px;
    margin: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -2px 1px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.5);
}