@import '../../../styles//variables'; 

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0; 
    color: #fff;
    overflow: hidden;
    box-shadow: $box-shadow-full;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    &__initials {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
    }
}
