.folder {
  background-color: #f7f0fc; // Light background color
  border-radius: 15px; 
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(112, 222, 255, 0.2); 
  position: relative;

  .folder__header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    .folder__icon img {
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }

    .folder__info {
      margin-left: 15px;
      flex-grow: 1;

      h4 {
        margin: 0;
        font-size: 18px;
        color: #333;
      }

      p { 
        font-size: 14px;
        color: #666;
      }
    } 
  }

  .folder__content {
    border-radius: 15px; 
    padding: 10px 20px;
    position: relative;
    background-color: white;
     
    .folder__add {
      position: absolute; 
      right: 25px;
      border-radius: 50%;
      top: -25px;
      background-color: #fff;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      span {
        font-size: 25px;
        color: #6a0dad;
      }
    }

    .folder__details {
      h5 {
        margin-top: 10px;
        font-size: 16px;
        color: #333;
      }

      .folder__stats {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        &_details{
          display: flex;
          justify-content: center;
          gap: 10px;

          img{ 
            width: 25px;
            padding: 5px;
            border-radius: 50%;
          } 
          p{
            color: gray;
          }
        }
      }

      .folder__access {
        display: flex;
        align-items: center;
        padding: 5px 0;
        gap: 10px;
        font-size: 14px;
        color: #999;
      }
    }
  }
}
