<div class="folder">
  <div class="folder__header">
    <!-- <div class="folder__icon">
      <img src="assets/images/logo.png" alt="Spaces" />
    </div> -->
    <div class="folder__info">
      <h4>Spaces</h4>
      <p>Access to 5 spaces</p>
    </div> 
  </div>

  <div class="folder__content">
    <button class="folder__add">
      <span>+</span>
    </button>
    <div class="folder__details">
      <h5>Company-wide KPIs</h5>
      <div class="folder__stats">
        <div class="folder__stats_details" >
          <img src="assets/icons/dashboard.svg" alt="dashboard" style="background: rgb(152, 150, 255);"/>
          <p>4 dashboards</p>
        </div>
        <div class="folder__stats_details" >
          <img src="assets/icons/chart.svg" alt="chart" style="background: rgb(255, 177, 146);"/>
          <p>12 charts</p>
        </div>
      </div>
      <hr/>
      <div class="folder__access">
        <img src="assets/icons/public.svg" alt="share" />
        <p>Public</p>
      </div>
    </div>
  </div>
</div>
