@import '../../../styles/variables';

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: $box-shadow-md;
    padding: 0.5rem 1rem;
    gap: 2px;

    

    &.fullwidth{
      width: 100%;
      padding: 11px 0;
      border-radius: 40px;
    }

    &.normal {
      border-radius: 10px; 
      padding: 8px 16px;
      
      img{
        width: 25px;
        height: 25px; 
      } 
    }
    
    &.circle{
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      width: 45px;
      height: 45px;
    }

    &.btn_normal_primary {
      background:$primary-color ;
      color: #fff;
  
      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }
  
    &.btn_normal_secondary {
      background-color: $secondary-color;
      color: whitesmoke;
  
      &:hover:not(:disabled) {
        background-color: #5a6268;
      }
    }
  
    &.btn_normal_danger {
      background-color: $danger-color;
      color: #fff;
  
      &:hover:not(:disabled) {
        background-color: #c82333;
      }
    }
    
    &.btn_normal_default{
      background-color: $background-color;
      color: black;
      font-weight: 500;
      opacity: 1;
      &:hover:not(:disabled) {
        opacity: 0.5;
      }
    }

    &.btn_circle_primary {
      background-color: $primary-color-sub; 
    }

    
    &.btn_circle_secondary {
      background-color: $secondary-color-sub; 
    }

    &.btn_circle_default {
      background-color: white; 
    }

    &.btn_circle_danger {
      background-color: #f1c7cb; 
    }
  }
  